<div id="search-component">
    <h3><i class="fa fa-users"></i><label for="search-box"> Person Search</label></h3>

    <!-- <form name="myForm">
        <label for="singleSelect"> Sort By </label><br>
        <select #sortBy name="singleSelect" ng-model="data.singleSelect" (change)="sortby(sortBy.value)">
            <option value="Name">Name</option>
            <option value="Age">Age</option>
        </select><br>
    </form> -->
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <!-- <ul class="search-result">
        <li *ngFor="let person of people$ | async" >
            <a routerLink="/people/{{person.Id}}">{{person.name}}</a>
        </li>
    </ul> -->
</div>
<!-- <button (click)="searchPeople()">Search</button> -->

<div id="search-results" *ngIf="people.value">
    <ul class="people-results">
        <li *ngFor="let person of people.value">
            <a routerLink="/people/{{person.Id}}">
                <!-- <span class="badge">{{ person.Id }}</span>  -->
                {{ person.GivenName }} {{ person.Surname }}
            </a><br>
            <!-- <button class="delete" title="delete person"
                (click)="confirm(person)">x</button> -->
        </li>
    </ul>
</div>
<!-- <ng-template #elseBlock>
    <p>No Results</p>
</ng-template> -->

<!-- <div ng-controller="ExampleController">
    <form name="myForm">
      <label for="singleSelect"> SearchBy </label><br>
      <select #searchBy name="singleSelect" ng-model="data.singleSelect" (change)="searchby(searchBy.value)">
        <option value="GivenName">GivenName</option>
        <option value="Surname">Surname</option>
      </select><br>
    </form>
</div> -->
  
  