<div *ngIf="person">
    <h2>{{person.GivenName | uppercase}} Details</h2>
    <div><span>Id: </span>{{person.Id}}</div>
    <div>
      <label>Gender:
        <input [(ngModel)]="person.Gender" placeholder="Gender"/>
      </label>
    </div>
    <div>
      <label>Nameset:
        <input [(ngModel)]="person.NameSet" placeholder="Nameset"/>
      </label>
    </div>
    <div>
      <label>Title:
        <input [(ngModel)]="person.Title" placeholder="Title"/>
      </label>
    </div>
    <div>
      <label>GivenName:
        <input [(ngModel)]="person.GivenName" placeholder="GivenName"/>
      </label>
    </div>
    <div>
      <label>MiddleInitial:
        <input [(ngModel)]="person.MiddleInitial" placeholder="MiddleInitial"/>
      </label>
    </div>
    <div>
      <label>Surname:
        <input [(ngModel)]="person.Surname" placeholder="Surname"/>
      </label>
    </div>
    <div>
      <label>StreetAddress:
        <input [(ngModel)]="person.StreetAddress" placeholder="StreetAddress"/>
      </label>
    </div>
    <div>
      <label>City:
        <input [(ngModel)]="person.City" placeholder="City"/>
      </label>
    </div>
    <div>
      <label>State:
        <input [(ngModel)]="person.State" placeholder="State"/>
      </label>
    </div>
    <div>
      <label>StateFull:
        <input [(ngModel)]="person.StateFull" placeholder="StateFull"/>
      </label>
    </div>
    <div>
      <label>ZipCode:
        <input [(ngModel)]="person.ZipCode" placeholder="ZipCode"/>
      </label>
    </div>
    <div>
      <label>Country:
        <input [(ngModel)]="person.Country" placeholder="Country"/>
      </label>
    </div>
    <div>
      <label>CountryFull:
        <input [(ngModel)]="person.CountryFull" placeholder="CountryFull"/>
      </label>
    </div>
    <div>
      <label>EmailAddress:
        <input [(ngModel)]="person.EmailAddress" placeholder="EmailAddress"/>
      </label>
    </div>
    <div>
      <label>Username:
        <input [(ngModel)]="person.Username" placeholder="Username"/>
      </label>
    </div>
    <div>
      <label>Password:
        <input [(ngModel)]="person.Password" placeholder="Password"/>
      </label>
    </div>
    <div>
      <label>BrowserUserAgent:
        <input [(ngModel)]="person.BrowserUserAgent" placeholder="BrowserUserAgent"/>
      </label>
    </div>
    <div>
      <label>TelephoneNumber:
        <input [(ngModel)]="person.TelephoneNumber" placeholder="TelephoneNumber"/>
      </label>
    </div>
    <div>
      <label>TelephoneCountryCode:
        <input [(ngModel)]="person.TelephoneCountryCode" placeholder="TelephoneCountryCode"/>
      </label>
    </div>
    <div>
      <label>MothersMaiden:
        <input [(ngModel)]="person.MothersMaiden" placeholder="MothersMaiden"/>
      </label>
    </div>
    <div>
      <label>Birthday:
        <input [(ngModel)]="person.Birthday" placeholder="Birthday"/>
      </label>
    </div>
    <div>
      <label>Age:
        <input [(ngModel)]="person.Age" placeholder="Age"/>
      </label>
    </div>
    <div>
      <label>TropicalZodiac:
        <input [(ngModel)]="person.TropicalZodiac" placeholder="TropicalZodiac"/>
      </label>
    </div>
    <div>
      <label>CCType:
        <input [(ngModel)]="person.CCType" placeholder="CCType"/>
      </label>
    </div>
    <div>
      <label>CCNumber:
        <input [(ngModel)]="person.CCNumber" placeholder="CCNumber"/>
      </label>
    </div>
    <div>
      <label>CVV2:
        <input [(ngModel)]="person.CVV2" placeholder="CVV2"/>
      </label>
    </div>
    <div>
      <label>CCExpires:
        <input [(ngModel)]="person.CCExpires" placeholder="CCExpires"/>
      </label>
    </div>
    <div>
      <label>NationalID:
        <input [(ngModel)]="person.NationalID" placeholder="NationalID"/>
      </label>
    </div>
    <div>
      <label>UPS:
        <input [(ngModel)]="person.UPS" placeholder="UPS"/>
      </label>
    </div>
    <div>
      <label>WesternUnionMTCN:
        <input [(ngModel)]="person.WesternUnionMTCN" placeholder="WesternUnionMTCN"/>
      </label>
    </div>
    <div>
      <label>MoneyGramMTCN:
        <input [(ngModel)]="person.MoneyGramMTCN" placeholder="MoneyGramMTCN"/>
      </label>
    </div>
    <div>
      <label>Color:
        <input [(ngModel)]="person.Color" placeholder="Color"/>
      </label>
    </div>
    <div>
      <label>Occupation:
        <input [(ngModel)]="person.Occupation" placeholder="Occupation"/>
      </label>
    </div>
    <div>
      <label>Company:
        <input [(ngModel)]="person.Company" placeholder="Company"/>
      </label>
    </div>
    <div>
      <label>Vehicle:
        <input [(ngModel)]="person.Vehicle" placeholder="Vehicle"/>
      </label>
    </div>
    <div>
      <label>Domain:
        <input [(ngModel)]="person.Domain" placeholder="Domain"/>
      </label>
    </div>
    <div>
      <label>BloodType:
        <input [(ngModel)]="person.BloodType" placeholder="BloodType"/>
      </label>
    </div>
    <div>
      <label>Pounds:
        <input [(ngModel)]="person.Pounds" placeholder="Pounds"/>
      </label>
    </div>
    <div>
      <label>Kilograms:
        <input [(ngModel)]="person.Kilograms" placeholder="Kilograms"/>
      </label>
    </div>
    <div>
      <label>FeetInches:
        <input [(ngModel)]="person.FeetInches" placeholder="FeetInches"/>
      </label>
    </div>
    <div>
      <label>Centimeters:
        <input [(ngModel)]="person.Centimeters" placeholder="Centimeters"/>
      </label>
    </div>
    <div>
      <label>GUID:
        <input [(ngModel)]="person.GUID" placeholder="GUID"/>
      </label>
    </div>
    <div>
      <label>Latitude:
        <input [(ngModel)]="person.Latitude" placeholder="Latitude"/>
      </label>
    </div>
    <div>
      <label>Longitude:
        <input [(ngModel)]="person.Longitude" placeholder="Longitude"/>
      </label>
    </div>


    <button (click)="goBack()">Back</button>
    <button (click)="delete()">Delete</button>
    <button (click)="save()">Save Changes</button>
  </div>
  