<div *ngIf="person">
    <h2>{{person.GivenName | uppercase}} {{person.Surname | uppercase}} Details</h2>
    <a routerLink="/edit/{{person.Id}}">Edit</a>
    <table class="hc-table">
      <tbody>
        <tr>
          <td>Id </td>
          <td>{{person.Id}}</td>
        </tr>
        <tr>
          <td>Gender </td>
          <td>{{person.Gender}}</td>
        </tr>
        <tr>
          <td>NameSet </td>
          <td>{{person.NameSet}}</td>
        </tr>
        <tr>
          <td>Title </td>
          <td>{{person.Title}}</td>
        </tr>
        <tr>
          <td>GivenName </td>
          <td>{{person.GivenName}}</td>
        </tr>
        <tr>
          <td>MiddleInitial </td>
          <td>{{person.MiddleInitial}}</td>
        </tr>
        <tr>
          <td>Surname </td>
          <td>{{person.Surname}}</td>
        </tr>
        <tr>
          <td>StreetAddress </td>
          <td>{{person.StreetAddress}}</td>
        </tr>
        <tr>
          <td>City </td>
          <td>{{person.City}}</td>
        </tr>
        <tr>
          <td>State </td>
          <td>{{person.State}}</td>
        </tr>
        <tr>
          <td>StateFull </td>
          <td>{{person.StateFull}}</td>
        </tr>
        <tr>
          <td>ZipCode </td>
          <td>{{person.ZipCode}}</td>
        </tr>
        <tr>
          <td>Country </td>
          <td>{{person.Country}}</td>
        </tr>
        <tr>
          <td>CountryFull </td>
          <td>{{person.CountryFull}}</td>
        </tr>
        <tr>
          <td>EmailAddress </td>
          <td>{{person.EmailAddress}}</td>
        </tr>
        <tr>
          <td>Username </td>
					<td>{{person.Username}}</td>
        </tr>
        <tr>
          <td>Password </td>
					<td>{{person.Password}}</td>
        </tr>
        <tr>
          <td>BrowserUserAgent </td>
					<td>{{person.BrowserUserAgent}}</td>
        </tr>
        <tr>
          <td>TelephoneNumber </td>
					<td>{{person.TelephoneNumber}}</td>
        </tr>
        <tr>
          <td>TelephoneCountryCode </td>
					<td>{{person.TelephoneCountryCode}}</td>
        </tr>
        <tr>
          <td>MothersMaiden </td>
					<td>{{person.MothersMaiden}}</td>
        </tr>
        <tr>
          <td>Birthday </td>
					<td>{{person.Birthday}}</td>
        </tr>
        <tr>
          <td>Age </td>
					<td>{{person.Age}}</td>
        </tr>
        <tr>
          <td>TropicalZodiac </td>
					<td>{{person.TropicalZodiac}}</td>
        </tr>
        <tr>
          <td>CCType </td>
					<td>{{person.CCType}}</td>
        </tr>
        <tr>
          <td>CCNumber </td>
					<td>{{person.CCNumber}}</td>
        </tr>
        <tr>
          <td>CVV2 </td>
					<td>{{person.CVV2}}</td>
        </tr>
        <tr>
          <td>CCExpires </td>
					<td>{{person.CCExpires}}</td>
        </tr>
        <tr>
          <td>National </td>
					<td>{{person.NationalID}}</td>
        </tr>
        <tr>
          <td>UPS </td>
					<td>{{person.UPS}}</td>
        </tr>
        <tr>
          <td>WesternUnionMTCN </td>
					<td>{{person.WesternUnionMTCN}}</td>
        </tr>
        <tr>
          <td>MoneyGramMTCN </td>
					<td>{{person.MoneyGramMTCN}}</td>
        </tr>
        <tr>
          <td>Color </td>
					<td>{{person.Color}}</td>
        </tr>
        <tr>
          <td>Occupation </td>
					<td>{{person.Occupation}}</td>
        </tr>
        <tr>
          <td>Company </td>
					<td>{{person.Company}}</td>
        </tr>
        <tr>
          <td>Vehicle </td>
					<td>{{person.Vehicle}}</td>
        </tr>
        <tr>
          <td>Domain </td>
					<td>{{person.Domain}}</td>
        </tr>
        <tr>
          <td>BloodType </td>
					<td>{{person.BloodType}}</td>
        </tr>
        <tr>
          <td>Pounds </td>
					<td>{{person.Pounds}}</td>
        </tr>
        <tr>
          <td>Kilograms </td>
					<td>{{person.Kilograms}}</td>
        </tr>
        <tr>
          <td>FeetInches </td>
					<td>{{person.FeetInches}}</td>
        </tr>
        <tr>
          <td>Centimeters </td>
					<td>{{person.Centimeters}}</td>
        </tr>
        <tr>
          <td>GUID </td>
          <td>{{person.GUID}}</td>
        </tr>
        <tr>
          <td>Latitude </td>
          <td>{{person.Latitude}}</td>
        </tr>
        <tr>
          <td>Longitude </td>
          <td>{{person.Longitude}}</td>
        </tr>
      </tbody>
    </table>


    <button (click)="goBack()">Back</button>
    <button (click)="delete()">Delete</button>
  </div>
  