<h2>People List</h2>
<table hc-table [dataSource]="dataSource" hcSort>
    <ng-container hcColumnDef="GivenName">
        <th hc-header-cell *hcHeaderCellDef hc-sort-header></th>
    </ng-container>
</table>
<!-- <div *ngIf="people; else elseBlock">
    <table class="hc-table hc-action-table">
        <thead>
            <tr>
                <th class="hc-col-sortable" (click)="sortBy('Id')">ID</th>
                <th class="hc-col-sortable" (click)="sortBy('GivenName')">Given Name</th>
                <th class="hc-col-sortable">Middle Initial</th>
                <th class="hc-col-sortable">Surname</th>
                <th >Telephone Number</th>
                <th >Occupation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people.value | slice:0:loadAmount" routerLink="/people/{{person.Id}}">
                <td>{{person.Id}}</td>
                <td>{{person.GivenName}}</td>
                <td>{{person.MiddleInitial}}</td>
                <td>{{person.Surname}}</td>
                <td>{{person.TelephoneNumber}}</td>
                <td>{{person.Occupation}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<ng-template #elseBlock>
    <h3>Loading...</h3>
</ng-template>
<!-- <div *ngIf="people">
    <ul class="people">
        <li *ngFor="let person of people.value">
            <a routerLink="/people/{{person.Id}}">
                <span class="badge">{{ person.Id }}</span> 
                {{ person.GivenName }}
            </a>
            <button class="delete" title="delete person"
                (click)="delete(person)">x</button>
        </li>
    </ul>
</div> -->
<button class="loadMore" title="Load More" (click)="loadMore()">Load More</button>