/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~@healthcatalyst/cashmere/scss/cashmere";

$hc-icons-font-path: 'node_modules/@healthcatalyst/cashmere/hcicons';
@import "~@healthcatalyst/cashmere/hcicons/hcicons";

app-people-search a {
    display: inline-flex;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px 16px;
}

app-add h3 {
    color: #006d9a;
}
app-people-search h3 {
    color: #006d9a;
}
app-people h3 {
    color: #006d9a;
}
app-people-detail h3 {
    color: #006d9a;
}
app-edit-person h3 {
    color: #006d9a;
}

.button:disabled, button:disabled{
    opacity: 0.5;
    cursor: auto;
}